.todo-form{
    font-family: Verdana;
    font-size: 100%;
    width: 650px;
    height: 650px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0px 2px 10px 5px #4086FF;
    border: 2px solid slateblue;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    box-sizing: border-box;



}
.todo-search-input{
    height: 15px;
    padding: 5px;
    font-size: 30px;
    border: 2px solid black;
    background-color: #fffbd5;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: Verdana;
    cursor: pointer;
    padding-bottom: 20px;

}

.todo-element{

    height: 30px;
    font-size: 30px;
    border: 2px solid black;
    background-color: #fffbd5;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: Verdana;
    cursor: pointer;


}
.addTodo-input{
    height: 50px;
    font-size: 30px;
    border: 2px solid black;
    background-color: #fffbd5;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: Verdana;
    cursor: pointer;

}
